@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--pale-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--desaturated-blue);
}

button {
    font-family: inherits;
}

.bg--image {
    background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2sec ease-in-out;
}

.btn-change {
    background-color: transparent;
    color: var(--bright-blue);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--bright-blue);
    color: #fff;
    padding: 10px 110px;
    margin-bottom: 10px;
}

.btn-primary:hover,
.btn-change:hover {
    opacity: 0.8;
}

.btn-secondary {
    background-color: transparent;
    color: var(--desaturated-blue);
}

.btn-secondary:hover {
    color: hsl(223, 47%, 23%);
}

.container {
    background-color: #fff;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px hsl(228, 45%, 44% 0.05);
}

.container h1 {
    color: hsl(223, 47%, 23%);
    margin: 10px 0;
}

.container p.yona {
    padding: 0 30px;
}

.container img.hero {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.container .prising {
    margin: 30px auto 20px;
    padding: 10px;
    background-color: var(--very-pale-blue);
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .prising article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .prising article img {
    margin-right: 10px;
}

.container .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*attribution*/

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:780px) {
    .bg--image {
        background: url("./images/pattern-background-desktop.svg") no-repeat center/cover;
        height: 50vh;
    }
    .container {
        width: 500px;
    }
}